body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 38px;
}

.text-primary {
    color: #FD6E0A;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    justify-content: center;
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related styles */
.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 0px;
}

.banner-hardy {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0px;
}

.banner-p {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 585px;
}

.btn-contact {
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 38px;
    border-color: #FD6E0A;
}

.banner profile-pic {
    max-width: 500px;
    max-height: 600px;
}

/* about-section */

.about {
    background-color: #FFF8F3;
    padding: 130px;
    margin: 130px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-evenly;
}

.info-title {
    color: #757575;
}

.about-info {
    font-size: 10px;
    font-weight: 700;
    text-align: center;
}

.info-description {
    color: #474747;
}

#what-i-do-description {
    padding: 50px 130px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* what-i-do-section */

.skill-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.skill {
    width: 267px;
    border-radius: 5px;
    background: #FFF;
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-title {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
}

.skill-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

/* resume-section */

#resume-section {
    margin-top: 130px;
}

.resume-container {
    display: flex;
    gap: 50px;
    /* text-align: left; */
}

.resume-col {
    /* margin: 100px 200px 10px; */
}

.resume-col-title {
    color: #474747;
    font-size: 25px;
    font-weight: 500;
}

.resume-item {}

.resume-title {
    color:#757575;
    font-size: 25px;
    font-weight: 700;
}

.resume-info {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}

.resume-descriptiom {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

.download-cv{
    text-align: center;
    margin-top: 30px;
}