body{
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 38px;
}
.text-primary{
    color: #FD6E0A;
}
/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    justify-content: center;
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}

/* header related styles */
.header{
    background-color: #FFF8F3;
}

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner-p{
    color:#757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}
.btn-contact{
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 38px;
    border-color: #FD6E0A;
}

.banner profile-pic{
    width: 500px;
    height: 600px;
}

.banner-content{
    
}